<!DOCTYPE html>
<html>
<head>
    <style>
        body {
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            overflow: auto;
        }

        img {
            max-width: 100%;
            height: auto;
        }
    </style>
</head>
<body>
    <img src="https://hzh-1313930608.cos.ap-guangzhou.myqcloud.com/data/image/beaf9323e151382eb0b64816651d4d0.jpg?q-sign-algorithm=sha1&q-ak=AKID7V42a-W-S7rQJ1qwZM2p09AHzuOMeehYomdmSYbuXTOSEmxEgQHqne4ZTNgIl9IX&q-sign-time=1713951059;1713954659&q-key-time=1713951059;1713954659&q-header-list=host&q-url-param-list=ci-process&q-signature=b882006b15c8e639692b64222baf740edea7ad58&x-cos-security-token=bFQQQUuF718H7PAsfNIWo780NiwkFi5a68ce3bcf2756867aadd38895e8b37342vvy5T-IpZd-VRCtReYNpkvsOPabrd4QYz8nyE1AaYrmJtz9lSboYFoj-g2eIz-g3RKTuDvK8M1aFVYhoJl_XlHxqn-3UNvnpTSSHQY7x_s9aVG9BYh8yOMGJG2M_g-t0EHBnh8pIQ8FRwbCMY4FYtT_vnwN8hznodBg4afX3suY-k1SgJX-k2nSLHWC2Vj_K&ci-process=originImage" alt="Your Image">
</body>
</html>